{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'poll/include-head.html' %}

    <title>Notice</title>
</head>
<body class="other-pages standard-font">
    <div class="container standard-container">
        {% include 'poll/include-menu.html' %}

        <h1>Access Is Forbidden</h1>
        <p>We are sorry. You can't visit this page. To gain access, please write your administrator.</p>

        {% include 'poll/include-standard-navbar.html' %}
    </div>
</body>
</html>