{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'poll/include-head.html' %}

    <title>Notice</title>
</head>
<body class="other-pages standard-font">
    <div class="container standard-container">
        {% include 'poll/include-menu.html' %}

        <h1>New Instruction's Been Saved</h1>
        <p>New instruction has been saved. You can continue your experience on the web page.</p>

        {% include 'poll/include-moderator-navbar.html' %}
    </div>
</body>
</html>