<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'poll/include-head.html' %}

    <title>Notification</title>
</head>
<body class="other-pages standard-font">
    <div class="container standard-container">
        {% include 'poll/include-menu.html' %}

        <h1>Notifications</h1>
        <p>
            {% if moderated == True %}
                <p>Congratulations! Your participation form has been accepted.</p>
            {% else %}
                <p>Unfortunately, your participation form has been declined due the reason:</p>
                <p>{{ refusal_reason }}</p>
                <p>To send form again, please press the button 'Participate' below.</p>
            {% endif %}
        </p>

        {% include 'poll/include-standard-navbar.html' %}
    </div>
</body>
</html>